{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block additional_styles %}
<style>
  body {
    background: url('/static/main/photos/background_pattern2.jpg') rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
  }
</style>
{% endblock %}
{% block content %}
<div class="col-md-8 mx-auto">
  <div class="content-section" style="opacity: 0.9; color:black; ">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom" style="text-align: center; font-weight: bold;">CUSTOMER INFORMATION</legend>
          {{ u_form|crispy }} 
          {{ p_form|crispy }}
      </fieldset>
      <div class="form-group">
          <button class="btn btn-outline-info button-dark" type="submit">Update</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}