{% extends "main/base.html" %}
{% load static %}
{% block additional_styles %}
<style>
  body {
    background: url('/static/main/photos/background_pattern2.jpg') rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
  }
</style>
{% endblock %}
{% block content %}
    <h4 style="text-align: center; font-family: cursive, sans-serif; font-weight: normal; text-decoration: underline; color: white;">TOTAL {{ number_of_rooms }} CATEGORY OF ROOMS</h4>
    <hr/>
    <div class="row">
      {% for room in room_list %}
          <div class="col-md-6">
            <article class="media content-section box-shadow" style="padding: 0%; border-radius: 15px; background: black;">
              <div class="media-body">
                <div class="containerc">
                  <div class="img-hover-zoom" style="border-top-right-radius: 15px; border-top-left-radius: 15px;">
                    {% if room.get_image == 'ac' %}
                      <img src="{% static 'main/photos/ac.jpg' %}" class="image" alt="">
                      <div class="middle">
                        <h5 class="text">AC Room</h5>
                      </div>
                    {% elif room.get_image == 'nonac' %}
                      <img src="{% static 'main/photos/nonac.jpg' %}" class="image" alt="">
                      <div class="middle">
                        <h5 class="text">NON-AC Room</h5>
                      </div>
                    {% elif room.get_image == 'deluxe' %}
                      <img src="{% static 'main/photos/deluxe.jpg' %}" class="image" alt="">
                      <div class="middle">
                        <h5 class="text">Deluxe Room</h5>
                      </div>
                    {% elif room.get_image == 'king' %}
                      <img src="{% static 'main/photos/king.jpg' %}" class="image" alt="">
                      <div class="middle">
                        <h5 class="text">King Room</h5>
                      </div>
                    {% elif room.get_image == 'queen' %}
                      <img src="{% static 'main/photos/queen.jpg' %}" class="image" alt="">
                      <div class="middle">
                        <h5 class="text">Queen Room</h5>
                      </div>
                    {% endif %}
                  </div>
                </div>
                <div style="padding: 20px; background: white; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px;">
                  <p class="article-content" data-toggle="tooltip" data-placement="bottom" title="Room details"
                  style=" word-break:break-all; word-wrap: break-word; font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold;">
                    <i class="fas fa-bed fa-lg" style="padding: 9px;"></i>{{room.beds}} bed(s)
                    <i class="fas fa-user-friends fa-lg" style="padding: 11px;"></i> {{room.capacity}}
                    <i class="fas fa-dollar-sign  fa-lg" style="padding: 12px;"></i> {{room.price}} INR / night 
                  </p>
                  <center>
                    <i class="fas fa-wifi" style="padding: 11px;" data-toggle="tooltip" data-placement="bottom" title="Wifi"></i> <b>|</b>
                    <i class="fas fa-car" style="padding: 11px;" data-toggle="tooltip" data-placement="bottom" title="Parking"></i> <b>|</b>
                    <i class="fas fa-utensils" style="padding: 11px;" data-toggle="tooltip" data-placement="bottom" title="Restaurant"></i> <b>|</b>
                    {% if room.get_image == 'king' %}
                      <i class="fas fa-mug-hot" style="padding: 11px;" data-toggle="tooltip" data-placement="bottom" title="Refreshments"></i> <b>|</b>
                    {% elif room.get_image == 'queen' %}
                      <i class="fas fa-mug-hot" style="padding: 11px;" data-toggle="tooltip" data-placement="bottom" title="Refreshments"></i> <b>|</b>
                    {% endif %}
                    {% if room.get_image == 'ac' %}
                      <i class="fas fa-fan" style="padding: 11px;" data-toggle="tooltip" data-placement="bottom" title="AC"></i> <b>|</b>
                    {% elif room.get_image == 'deluxe' %}
                    <i class="fas fa-fan" style="padding: 11px;" data-toggle="tooltip" data-placement="bottom" title="AC"></i> <b>|</b>
                    {% elif room.get_image == 'king' %}
                    <i class="fas fa-fan" style="padding: 11px;" data-toggle="tooltip" data-placement="bottom" title="AC"></i> <b>|</b>
                    {% elif room.get_image == 'queen' %}
                    <i class="fas fa-fan" style="padding: 11px;" data-toggle="tooltip" data-placement="bottom" title="AC"></i> <b>|</b>
                    {% endif %}
                    <i class="fas fa-tv" style="padding: 11px;" data-toggle="tooltip" data-placement="bottom" title="TV"></i>
                  </center>
                </div>
              </div>
            </article>
          </div>
      {% endfor %}
    </div>
{% endblock content %}
