{% extends "main/base_login.html" %}
{% block content %}
<article
  class="content-section box-shadow"
  style="border-radius: 15px; border: 1px solid #0a2642"
>
  <h3 class="article-title">About</h3>
  <p class="article-content text-wrap">
    This is a Hotel Management System. It allows it's customer users to book
    rooms in hotels for a time period. It also allows the Hotel owners to manage
    their guests well! Hop into the application for more insights! Go ahead and
    create an account for yourself.
  </p>
</article>
{% endblock content %}
