{% extends "main/base.html" %}
{% load static %}
{% block additional_styles %}
<style>
  body {
    background: url('/static/main/photos/background_pattern2.jpg') rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
  }
</style>
{% endblock %}
{% block content %}
    <h4 style="text-align: center; text-decoration: underline; color: white;">TOTAL {{ number_of_rooms }} CATEGORY OF ROOMS</h4>
    <hr/>
    <div class="row">
      {% for room in room_list %}
          <div class="col-md-6">
            <article class="media content-section box-shadow" style="padding: 0%; border-radius: 15px; background: black;">
              <div class="media-body">
                <div class="containerc">
                  <div class="img-hover-zoom" style="border-top-right-radius: 15px; border-top-left-radius: 15px;">
                    {% if room.get_image == 'ac' %}
                      <img src="{% static 'main/photos/ac.jpg' %}" class="image" alt="">
                      <div class="middle">
                        <h5 class="text">AC Room</h5>
                      </div>
                    {% elif room.get_image == 'nonac' %}
                      <img src="{% static 'main/photos/nonac.jpg' %}" class="image" alt="">
                      <div class="middle">
                        <h5 class="text">NON-AC Room</h5>
                      </div>
                    {% elif room.get_image == 'deluxe' %}
                      <img src="{% static 'main/photos/deluxe.jpg' %}" class="image" alt="">
                      <div class="middle">
                        <h5 class="text">Deluxe Room</h5>
                      </div>
                    {% elif room.get_image == 'king' %}
                      <img src="{% static 'main/photos/king.jpg' %}" class="image" alt="">
                      <div class="middle">
                        <h5 class="text">King Room</h5>
                      </div>
                    {% elif room.get_image == 'queen' %}
                      <img src="{% static 'main/photos/queen.jpg' %}" class="image" alt="">
                      <div class="middle">
                        <h5 class="text">Queen Room</h5>
                      </div>
                    {% endif %}
                  </div>
                </div>
                <div style="padding: 20px; background: white; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px;">
                  <p class="article-content" data-toggle="tooltip" data-placement="bottom" title="Room details"
                  style=" word-break:break-all; word-wrap: break-word;">
                    Beds: {{room.beds}}
                    Capacity: {{room.capacity}}
                    Price/night: {{room.price}} INR
                  </p>
                </div>
              </div>
            </article>
          </div>
      {% endfor %}
    </div>
{% endblock content %}
