{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block additional_styles %}
<style>
   body {
        background: url('/static/main/photos/background_pattern2.jpg') rgba(0, 0, 0, 0.3);
        background-blend-mode: multiply;
   }
</style>
{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom"  style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bolder;">Delete Booking</legend>
                <h4 style="font-weight: bold; font-family: serif;">Are you sure you want to cancel this table booking?</h4>
                <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold;">
                    <b>Booking Details:</b>
                    <br/>
                    Room: {{ object.bkng.room.number }}-{{object.bkng.room.get_category}}
                    <br/>
                    Time: {{object.time}}
                    <br/>
                </p>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Cancel Booking</button>
                <a class="btn btn-outline-secondary" href="{% url 'bookings' %}">Go Back</a>
            </div>
        </form>
    </div>
{% endblock content %}